<div class="modal-header">
    <h3 class="modal-title">Дерело:</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="name">Джерело</label>
        <input type="text" class="form-control" id="name" ng-model="project.name">
    </div>
    <div class="form-group">
        <label for="url">Посилання</label>
        <input type="text" class="form-control" id="url" ng-model="project.url">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ok()" ng-disabled="!project.name || !project.url">Зберегти</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Скасувати</button>
</div>