<!-- search header -->
<form class="search-form row" role="form" ng-cloak>
    <!--<div class="col-md-6">-->
        <div class="search-wrapper form-group">
            <button class="btn btn-success search-button input-lg" type="submit" ng-click='mainControl.search()'>
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <!-- search field -->
            <input ng-model='ctrl.paramService.settings.searchTerm' class="form-control input-lg" autofocus>
        </div>
        <div class="form-group text-center filter-search">
            <!-- filters -->
            <label ng-repeat="filter in ctrl.paramService.searchFilters" class="radio-inline">
                <input type="radio" ng-model="ctrl.paramService.settings.searchFilter" value="{{filter}}" ng-change="mainControl.search()"> {{filter || 'content'}}
            </label>
        </div>
    <div ng-show="ctrl.pagesService.results">
        <a class="btn btn-primary" ng-href="{{ ctrl.pagesService.fileUrl }}" download="{{ctrl.paramService.settings.searchTerm}}.html">Download content</a>
    </div>
</form>
