<form role="form">
    <div class="wiki-logos list-group">
        <!-- projects -->
        <label class="list-group-item">
            <input type="checkbox" ng-checked="ctrl.checkAll" ng-click="ctrl.selectAll()">
            <label class="new-source filter-search">Назва</label>
            <label class="new-source filter-search">URL</label>
        </label>
        <div class="projects-list">
            <label ng-repeat="project in ctrl.projectService.projects" class="list-group-item"
                   ng-mouseenter="showIcons = true" ng-mouseleave="showIcons = false">
                <input type="checkbox" ng-model="project.isChecked" ng-change="ctrl.toogleProject(project)">

                <label class="project-input project-name">{{project.name}}</label>
                <label>{{project.url}}</label>

            <span>
                <span ng-hide="editMode"></span>
                <a ng-show="showIcons" ng-click="ctrl.removeProject(project)">
                <span class="right glyphicon glyphicon-remove"></span></a>
            </span>
            <span>
                <span ng-hide="editMode"></span>
                <a ng-show="showIcons" ng-click="ctrl.editProject(project)">
                <span class="right glyphicon glyphicon-pencil"></span></a>
            </span>
            </label>
        </div>
        <div class="list-group-item">
            <button type="button" ng-click="ctrl.addProject(ctrl.newProject)" class="btn btn-success">
                Додати нове джерело
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <span ng-show="ctrl.showError">
                <span class="text-danger">Не валідне джерело</span>
            </span>
        </div>
        <span class="justify-helper"></span>
    </div>
</form>
