<form role="form">
    <div class="wiki-logos list-group">
        <!-- projects -->
        <label class="list-group-item">
            <label class="new-source filter-search">Name</label>
            <label class="new-source filter-search">Url</label>
        </label>

        <label ng-repeat="project in ctrl.projectService.projects" class="list-group-item"
               ng-mouseenter="showRemove = true" ng-mouseleave="showRemove = false">

            <input type="radio" ng-model="ctrl.paramService.settings.url" name="projects" value="{{project.url}}"
                   ng-click="ctrl.refreshLanguages(); mainControl.search()">

            <label class="project-input project-name"
                   inline-edit="project.name" on-save="ctrl.updateProject(project)"
                   on-cancel="ctrl.cancelEdit(project.name)">{{project.name}}</label>
            <label inline-edit="project.url" on-save="ctrl.updateProject(project)"
                   on-cancel="ctrl.cancelEdit(project.url)">{{project.url}}</label>

            <span>
              <span ng-hide="editMode" ng-click="edit()">{{model}}</span>
              <a ng-show="showRemove" ng-click="ctrl.removeProject(project)">
              <span class="right glyphicon glyphicon-remove"></span></a>
            </span>

        </label>
        <label class="list-group-item">
            <input type="text" ng-model="ctrl.newProject.name" class="form-control new-source">
            <input type="text" ng-model="ctrl.newProject.url" class="form-control new-source">
            <button type="button" ng-click="ctrl.addProject(ctrl.newProject)" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" ng-click="ctrl.cleanFields()" class="btn btn-danger right">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </label>
        <span class="justify-helper"></span>
    </div>
</form>
