/* DEFAULTS */

[ng-cloak],
[data-ng-cloak] {
  display: none !important;
}

* {
  transition: all 0.3s ease-out;
}


/*** SHARED ***/

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.pointer {
  cursor: pointer;
}

.clear {
  clear: both;
}

.justify-helper {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.img-large {
  max-width: 250px;
}

.selected-logo {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.inline-block {
  display: inline-block;
}

.main {
  margin-bottom: 40px;
}

.loadmore-wrapper {
  margin-top: 30px;
}


/* HEADER */

.header {
  background: #F1F1F1;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.list-group-item {
  padding: 5px 15px;
}

.header-upper-row {
  margin-top: 10px;
  /*margin-bottom: 20px;*/
}

.logo {
  display: inline;
  cursor: pointer;
}

.wiki-logos {
  text-align: justify;
  /*todo: this is temp decision*/
  /*float: left;*/
}

.wiki-logos label {
  /*display: block; !* because of justify *!*/
  /*float: left;*/
}

.project-input {
  /*display: none;*/
  width: inherit;
  display: inline-block;
}

.project-name {
    display: inline-block;
    width: 40%;
}

.project-name-input {
    width: 150px;
}

.wiki-logos input {
  /*display: none;*/
}

.right {
  float: right;
  margin: 0 5px;

}

.list-group {
  margin-bottom: 0;
}

.new-source {
    display: inline-block;
    width: 40%;
}

.wiki-logos input[type=button] {
  /*display: block;*/
  /*float: left;*/
  /*vertical-align: middle;*/
}

.filter-search {
  font-size: 15px;
}

.search-form {
  padding: 15px 0;
}

.wiki-logos img {
  cursor: pointer;
  height: 40px;
}

.search-wrapper {
  position: relative;
}

.search-button {
  position: absolute;
  right: 0;
}


/*** MAIN PAGE ***/

.lead-wrapper {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
}

.choosen-article {
  padding: 0 20px;
}

.col-md-6 .choosen-article {
  max-height: 1200px;
  overflow-y: scroll;
}

.read-more {
  margin-right: 30px;
}

.lead-wrapper .read-more {
  margin-top: 10px;
}


/*** MAIN IMAGE ***/

.main-image {
  width: 25%;
  float: right;
  padding: 0 20px;
}

.image-full {
  width:100%;
}


/*** IMAGES ***/

.img-wrapper {
  position: relative;
  display: inline-block;
  padding: 5px;
  min-width: 150px;
  min-height: 150px;
}

.inner-img-wrapper {
  position: relative;
  display: block;
}

.desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  opacity: 0.5;
  padding: 5px 10px;
}


/*** FORK-ME ***/

.forkme {
  transform: rotate(-45deg);
  background-color: #666;
  padding: 2px 0;
  z-index: 999;
  position: fixed;
  bottom: 40px;
  right: -48px;
}

.forkme a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, .5);
  text-align: center;
  width: 200px;
  display: inline-block;
  padding: 2px 0;
}


/*** RESPONSIVE ***/

@media screen and (min-width: 992px) {

  .main-page-wrapper {
    float: right;
    margin-left: 10px;
  }

  .articles {
    padding: 0 20px;
  }

}

@media screen and (max-width: 992px) {

  .main-page-wrapper {
    width: 100%;
  }
  .lead-wrapper,
  .pages-wrapper section {
    max-height: 600px;
  }
  .lead-wrapper {
    overflow: scroll;
    margin-bottom: 40px;
  }
  .pages-wrapper section {
    overflow: hidden;
  }
  .img-wrapper {
    min-width: 100px;
    min-height: 100px;
  }

}

.source-selected {
  background-color: #4699dd;
}

.source-deselected {
  background-color: white;
}

.projects-list {
  max-height: 200px;
  overflow-y: scroll;
}