<!DOCTYPE html>
<html lang="en" ng-app="wikiParse">
<head>
    <meta charset="UTF-8">
    <title>Wiki Parse</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/dist.js"></script>
</head>
<body ng-controller='MainController as mainControl' ng-init='mainControl.init()'>

<header class="header">
    <section ng-controller="SearchHeadController as ctrl" class="container">
        <div class="header-upper-row row">
            <div class="col-md-6">
                <h1 class="logo">
                    <!--<button ng-click="ctrl.hardReset()" class="btn btn-default btn-sm">Reset all</button>-->
                    <span ng-click="ctrl.reset()">Wiki Api Search</span>
                    <search-header></search-header>
                </h1>
            </div>
            <div class="col-md-6" ng-cloak>
                <wiki-projects></wiki-projects>
            </div>
        </div>
    </section>
</header>

<main class="container main" ng-cloak>

    <!--todo add later-->
    <main-page></main-page>
    <pages></pages>

    <main-image></main-image>
    <images></images>
</main>

</body>

</html>