<div>
    <input type="text" on-enter="save()" on-esc="cancel()" ng-model="model" ng-show="editMode" class="project-name-input">
    <button ng-click="cancel()" ng-show="editMode">cancel</button>
    <button ng-click="save()" ng-show="editMode">save</button>
  <span ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
    <span ng-hide="editMode" ng-click="edit()">{{model}}</span>
    <a ng-show="showEdit" ng-click="edit()" >
    <span class="glyphicon glyphicon-pencil"></span></a>
  </span>
</div>